.footer{
	background-color: #004d40 ;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-left p{
	color:  white;
	font-size: 1rem;
	margin-bottom: 1rem;
}

/* Footer links */




.footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #00b0ff;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}



@media (max-width: 600px) {

	.footer .footer-left,
	.footer .footer-right{
		text-align: center;
	}

	.footer .footer-right{
		float: none;
		margin: 0 auto 20px;
	}


}
