
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


@media(min-width:767px) {
    .navbar {
        padding: 25px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 10px;
    }
}


.section{

    height: 100%;
    padding-top: 150px;
    text-align: center;
}

.intro-section {
    background:#004d40 ;
    background-size:cover;
    color:white;
    margin-bottom: 0;


}


.bus-section ,.bike-section{

    background: #eee;
}

.bus-route-section,.rail-section,.rail-timing-section,.about-section {

    background: #fff;
}

.bus-route-section,.rail-timing-section {

    height: auto;


}






