
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


@media(min-width:767px) {
    .navbar {
        padding: 25px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 10px;
    }
}



.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background:#004d40 ;
    background-size:cover;
    color:white;


}


.bus-section{
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.rail-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: white;
}
.bike-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}



.bus-route-section {
    /*height: 100%;*/
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.rail-timing-section {

    padding-top: 150px;
    text-align: center;
    background: #fff;
}