
.satisy-font{
    font-family: satisfy;
    font-size: 2rem;
    font-weight: bold;

}
#stops-table  th,#train-status-table th{

    text-align: center;
}

.caption-top{

    caption-side: top;
}

#cover-caption{

    width:85%;

}
.bg-white{

    background: white;

}



.modal-content{

    border-radius:10px;
}
#navbarNav1 a,#about p{

    font-size: 1.3rem;
}




#navbarNav1 a, .modal-title,#cover-caption, .heading, .sec-heading{


    font-family: Oswald;
}
table caption{

    font-size:1.5rem;
}

#train-status-table ,#stops-table{

    margin-bottom: 5rem;
}

.sec-heading{
    margin-bottom: 6rem;
    font-size: 4rem;
    color: #1a237e;
}

.navbar-brand,#navbarNav1 a,.modal-title,.heading {

    color:#26a69a ;
}

.navbar-toggler-icon{

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(38, 166, 154, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
tr:nth-child(even) {
    background: #c8e6c9;

}
thead{

    background-color: dimgrey;
    color:white;
}


@media (max-width: 768px) {
    #cover-caption {
        width: 100%;
    }
}

